---
import Layout from "../../layouts/Layout.astro";
---

<Layout section="Catheter Care">
  <section id="services-cont">
    <section id="services-text">
      <h1>Catheter Care</h1>
      <p>
        If you or a loved one suffer from a condition causing you to have any
        sort of bladder issue then Catheter Care is right for you. At Healing
        Hands Healing Hearts we offer urinary foley catheter insertion and
        maintence as well urinary retention prevention. Contact us with the
        below number or email for more information on any service we offer.
      </p>
    </section>
    <figure class="services-image" id="ccimg"></figure>
  </section>
</Layout>
