---
import Layout from "../../layouts/Layout.astro";
---

<Layout section="In-home Living Assistance">
  <section id="services-cont">
    <section id="services-text">
      <h1>In-home Living Assistance</h1>
      <p>
        Our elite in-home living assistance programs provide top-notch care. We
        offer malleable care plans which will provide you tailored support in
        order to increase or maintain your quality of life.
      </p>
      <br />
      <h2>Who is in-home living assistance for?</h2>
      <br />
      <p>
        The group of people who would benefit from in-home living assistance is
        anything but marginal. If you or a loved one may require one of the
        following services, in-home living assistance is a stellar choice for
        you:
      </p>
      <ul>
        <li>Bathing assistance</li>
        <li>Dressing assistance</li>
        <li>Toilet assistance</li>
        <li>Medication management</li>
        <li>Wheelchair transportation</li>
        <li>Fall prevention</li>
        <li>Assistance with vision impairment</li>
      </ul>
      <br />
      <p>
        And if you require, or would simply appreciate assistance with any other
        items in your daily regimen, then in-home living assistance suits you;
        we will give you the assistance you need. Also, those who suffer from
        Alzheimer’s, dementia, or any other memory impairing disorder will
        greatly benefit from being in our care with in-home living assistance.
        Contact us with the below number or email for more information on any
        service we offer.
      </p>
    </section>
    <figure class="services-image" id="ihaimg"></figure>
  </section>
</Layout>
