---
import Layout from "../../layouts/Layout.astro";
---
<Layout section="Occupational Therapy"
  >
    <section id="services-cont">
      <section id="services-text">
        <h1>Occupational Therapy</h1>
        <p>
          Occupational therapy is a combination of physical, sensory, and
          cognitive therapy. Occupational therapy helps those recuperating from
          a physical or mental illness through multiple methods, one of those
          being performing daily activities that will help you best recover to
          the you were once in. Whatever your needs are, whether that be
          fine-motor skill improvement, cognitive function improvement, sensory
          improvement, we are here to give you any assistance you may need on
          your road to recovery. Contact us with the below number or email for
          more information on any service we offer.
        </p>
      </section>
      <figure class="services-image" id="otimg"></figure>
    </section></Layout>
