---
import Layout from "../../layouts/Layout.astro";
---

<Layout section="Companionship">
  <section id="services-cont">
    <section id="services-text">
      <h1>Private Duty Companionship</h1>
      <p>
        Compassion is one of our main values and although this is greatly
        represented in all of our services, it is moreso represented in our
        companionship service. If you are feeling lonely, Our companions are
        highly skilled in the art of empathy, and will care for you as they’d
        care for family. They will give you a well-built emotional support
        system along with any other mental assistance you may need. They will
        give you safety and security and will open the floodgates of mental and
        emotional thriving, as well as providing any service our in-home living
        assistance service would provide. Contact us with the below number or
        email for more information on any service we offer.
      </p>
    </section>
    <figure class="services-image" id="pdcimg"></figure>
  </section>
</Layout>
