---
import Layout from "../../layouts/Layout.astro";
---
<Layout section="Speech Therapy"
  >
    <section id="services-cont">
      <section id="services-text">
        <h1>Speech Therapy</h1>
        <p>
          There may be many reasons you need speech therapy, whatever those
          reasons being though we are here for you. We deeply value
          communication so we understand how hard it may be for you or your
          loved ones to be unable to properly communicate, which is why we offer
          a timely and effective speech therapy service. We will compassionately
          care for you and provide you with the patience and understanding that
          you need to allow you to thrive while healing, not just after. Contact
          us with the below number or email for more information on any service
          we offer.
        </p>
      </section>
      <figure class="services-image" id="stimg"></figure>
    </section>
</Layout>
