---
import Layout from "../../layouts/Layout.astro";
---

<Layout section="Tracheostomy Care">
  <section id="services-cont">
    <section id="services-text">
      <h1>Tracheostomy Care</h1>
      <p>
        If you or a loved one live with a tracheostomy, our tracheostomy care
        service will greatly ease the management of it. We guarantee you that we
        will maintain a clear and patent airway as well as keeping it clean,
        changing it’s dressing, and prevention infections or other
        complications. Contact us with the below number or email for more
        information on any service we offer.
      </p>
    </section>
    <figure class="services-image" id="tcimg"></figure>
  </section>
</Layout>
