---
import Layout from "../../layouts/Layout.astro";
---
<Layout section="Ventilator Care"
  >
    <section id="services-cont">
      <section id="services-text">
        <h1>Ventilator Care</h1>
        <p>
          We understand how hard it may be for to live off of a ventilator and
          the tolls it may take on family and life, which is why we are here to
          offer you support. Besides the necessities such as monitoring your
          health, maintaining clean airways, and preventing infection, we will
          provide empathy as well. Contact us with the below number or email for
          more information on any service we offer.
        </p>
      </section>
      <figure class="services-image" id="vcimg"></figure>
    </section>
</Layout>
