---
import Layout from "../../layouts/Layout.astro";
---

<Layout section="Wound Care">
  <section id="services-cont">
    <section id="services-text">
      <h1>Wound Care</h1>
      <p>
        If you or a loved one have been wounded and require medical attention to
        prevent the wound from infection and/or other complications or the
        wound’s recovery has been stunted then our wound care service is
        perfectly suited for you. Wound care will prevent any complicaitons from
        happening upon wounds and will greatly increase your wound’s recovery
        rate! Contact us with the below number or email for more information on
        any service we offer.
      </p>
    </section>
    <figure class="services-image" id="wcimg"></figure>
  </section>
</Layout>
