/* CONVERT ALL TO RELATIVE SIZING | CONVERT COLORS TO HSLA OR RGBA | REMOVE UNDERLINE FROM LINKS & CHANGE CLICK COLOR
*/

/* #001c48 -- dark blue
#5ed957 -- green: containers
#5aba4a -- old green (duller)
#7ed957 -- logo green: h1 headers
#0c234b -- blue 

find neutral color for background and pop color for containers & text;
*/

* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   font-family: 'Italianno', cursive;
   font-family: 'Catamaran', sans-serif;
}

h1 {
    font-family: 'Italianno', cursive;
}

h2 {
    font-family: 'Italianno', cursive;
}

body {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}

nav {
    width: 100%;
    background-color: #001c48;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}


/*make seperate logo for nav*/
#navlogo {
}

#navitems {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.navitem {
    display: inline;
    font-size: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    background-color: #5ed957;
    border-radius: 3px;
    width: 20%;
    text-align: center;
}

footer {
    background-color: #001c48;
    height: 200px;
    position: relative;
    top: 75px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-top: 4px solid #001c48;
    color: #7ed957;
    opacity: 1;
}

footer section {
    display: flex;
    flex-flow: column wrap;
}

footer section ul{
    display: inline-flex;
    flex-flow: column wrap;
}

footer section ul li {
    padding: 10px 0px;
}

footer section ul li a {
    color:#5ed957;
}

#contact li {
    display: inline;
}

/* index.html */

#main-grid {
    display: grid;
    /* 150px rows are for quotes*/
    grid-template: 6fr repeat(3, 4fr 150px) 4fr / 1fr;
    background-color: #001c48;
    align-items: center;
    position: relative;
    top: 75px;
}

#main-grid banner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* convert to relative & image size*/
    width: 100%;
    height: 800px;
    background-color: white;
    grid-row-start: 1;
    margin-bottom: 80px;
}

#main-grid banner button {
    background-color: white;
    /* change to relative sizing with max size */
    width: 150px;
    height: 50px;
    max-width: 150px;
    max-height: 50px;
}

#main-grid banner button a {
    color: hsla(223, 65%, 25%, 1);
}

#main-grid banner h1 {
    text-align: center;
    color: #7ed957;
    font-size: 125px;
}

.banner-logo {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 710px;
    right: 200px;
}

.main-grid-containers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    align-items: center;
    background-color: #5ed957;
    border-top: 4px solid #0c234b;
}

.main-grid-images {
    width: 30%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #001c48;
    background-color: #0c234b;
    padding: 10px;
}

.main-grid-info {
    width: 70%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    line-height: 2;
    padding: 25px;
}

.main-grid-info h2{
    margin-bottom: 10px;
    font-size: 55px;
    color:#001c48;
}

.main-grid-info p {
    font-size: 25px;
}

/*quotes*/

.quotes {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    color: #001c48;
    border-top: 4px solid #001c48;
    height: 100%
}

#text2 p a button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #001c48;
}

/* about.html */

#about-body {
    position: relative;
    top: 75px;
    display: flex;
    flex-flow: column wrap;
    background-color: #001c48;
}

#about-body banner {
    height: 800px;
    width: 100%;
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#about-body banner h1 {
    font-size: 125px;
    color: #7ed957;
}

/* switch grid and container colors after adding images
switch images to material icons or use canva to make circle icons for each: experiment with removing background as well
*/

#about-grid {
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    background-color: white;
    padding: 50px 0px;
    align-items: center;
    border-top: 3px solid black;
}

.about.container {
    width: 100%;
    height: 100%;
    background-color: #7ed957;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid #001c48;
    text-align: left;
}

.about.container h2{
    font-size: 70px;
    color: #001c48;
    text-align: center;
}
.about.container p {
    padding: 0px 15px;
}


#foundations {
    grid-area: 1 / 2 / span 3 / span 12;
}

#about-img1 {
    grid-area: 1 / 15 / span 3 / span 5;
}

#about-img2 {
    grid-area: 5 / 15 / span 3 / span 5;
}

#mission {
    grid-area: 5 / 2 / span 3 / span 12;
}

#value-title {
    grid-area: 8 / 1 / span 2 / span 20;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 125px;
    border-radius: 0;
    height: 70%;
    color: #5ed957;
    background-color: #001c48;
}

#about-img3 {
    grid-area: 10 / 15 / span 3 / span 5;
}

#community {
    grid-area: 10 / 2 / span 3 / span 12;
}

#compassion {
    grid-area: 14 / 2 / span 3 / span 18;
}

#communication {
    grid-area: 18 / 2 / span 3 / span 12;
}

#about-img4 {
    grid-area: 18 / 15 / span 3 / span 5;
}

#about-grid {
    font-size: 30px;
    text-align: center;
}

/* services.html */

#services {
    height: 1100px;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    position: relative;
    top: 75px;
    background-color: white;
}

#service-header {
    position: relative;
    top: 75px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}

#service-header h1 {
    font-size: 125px;
    color: #7ed957;
}

#service-header p {
    font-size: 30px;
}

/* when hovering have a brand color overlay */

.services {
    width: 450px;
    height: 300px;
    background-color: #5ed957;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.services h3 {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
}