---
import Layout from "../layouts/Layout.astro";
---

<Layout section="home">
    <banner id="main-banner">
        <h1>Healing Hands Healing Hearts</h1><br />
        <section id="banner-overlay"></section>
        <!-- change this -->
    </banner>
    <section class="main-grid-containers" id="cont1">
        <section class="main-grid-info" id="text1">
            <h2>Is Home Health Care Right For Me?</h2>
            <p>
                Home health care covers a wide variety of services: from
                personal caregivers to physical therapy, switching to home
                health care may provide a tremendous amount of relief for you or
                your loved one. Home health care can provide a plethora of
                individuals with much-needed assistance and lead them on the
                path to independence. If you decide to take the path of home
                health care, with treatment plans & care plans specifically
                tailored to your needs, you can be assured that Healing Hands
                Healing Hearts will give you the relief you deserve.
            </p>
        </section>
        <section class="main-grid-images" id="img1"></section>
    </section>
    <section class="quotes" id="quote1">
        <p>
            &quot;Health is a state of complete mental, social and physical
            well-being, not merely the absence of disease or infirmity.&quot;
            &ndash; World Health Organization, 1948
        </p>
    </section>
    <section class="main-grid-containers" id="cont2">
        <section class="main-grid-info" id="text2">
            <h2>Why Healing Hands Healing Hearts?</h2>
            <p>
                At Healing Hands Healing Hearts we believe in community,
                compassion, and communication. We are more than just a home
                health care business, we are a family. We love our patients and
                rest assured, all in our family are well taken care of; our
                strict hiring process guarantees not only that our patients will
                be taken care of by the most qualified clinicians, but that they
                will be taken care of by someone who cares. Choosing Healing
                Hands Healing Hearts is choosing health. Choose to take our hand
                and let us heal you.<br
                /><!-- replace with link in previous sentence-->
                <a href="/about">About Us</a>
            </p>
        </section>
        <section class="main-grid-images" id="img2">
            <!-- make images backround image of image container and height and width 500px-->
        </section>
    </section>
    <section class="quotes" id="quote2">
        <p>
            &quot;It is health that is the real wealth, and not pieces of gold
            and silver.&quot; &ndash; Mahatma Gandhi
        </p>
    </section>
    <section class="main-grid-containers" id="cont3">
        <section class="main-grid-info" id="text3">
            <h2>Testimonials</h2>
            <section class="slideshow-cont" id="testimonials">
                <section class="slide show" id="1">
                    <p>
                        "I have tried other homecare services, but they could
                        not satisfy me like Healing Hands Healing Hearts does.
                        I've never met staff who are so kind and loving, my home
                        health aide is so caring that sometimes I forget she
                        isn't family!" <br /><span>- Denise Morgan</span>
                    </p>
                </section>
                <section class="slide" id="2">
                    <p>
                        "The service here is stellar. The staff I've met are
                        spectacular, they always know exactly what to say and
                        exactly what to do when I'm in need. I know that with
                        them I am safe and in great hands." <br /><span
                            >- Tomlin Zulea</span
                        >
                    </p>
                </section>
                <section class="slide" id="3">
                    <p>
                        "I must be away on business a lot and I require constant
                        communication when it comes to my Mother's health. I
                        have too often been left in the dark about this, but in
                        the care of Healing Hands Healing Hearts there has never
                        been a moment where I wasn't updated on my Mother's
                        status. Thank you so much, this is a life changer." <br
                        /><span>- Misty Anderson</span>
                    </p>
                </section>
                <button class="controls" id="previous"></button>
                <button class="controls" id="next"></button>
            </section>
        </section>
        <section class="main-grid-images" id="img3"></section>
    </section>
    <section class="quotes" id="quote3">
        <p>
            &quot;The first wealth is health.&quot; &ndash; Ralph Waldo Emerson
        </p>
    </section>
    <section class="main-grid-containers" id="cont4">
        <section class="main-grid-info" id="text4">
            <h2>Where Do We Serve?</h2>
            <p>
                As of now we serve the whole of Prince George's county & Charles
                county Maryland; don't fret if your area is not available now,
                it will be available for service in the near future.
                <br /><a href="/about">Services</a>
            </p>
        </section>
        <section class="main-grid-images" id="img4"></section>
    </section>
</Layout>

<script defer>
const slides = document.querySelectorAll("#testimonials .slide");
let currentSlide = 0;
/*const slideInterval = setInterval(nextSlide,5000);*/

function nextSlide() {
    slides[currentSlide].className = "slide";
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].className = "slide show";
}

function goToSlide(n) {
    slides[currentSlide].className = "slide";
    currentSlide = (n + slides.length) % slides.length;
    slides[currentSlide].className = "slide show";
}

function nextSlide() {
    goToSlide(currentSlide + 1);
}

function previousSlide() {
    goToSlide(currentSlide - 1);
}

var next = document.getElementById("next");
var previous = document.getElementById("previous");

next.onclick = function () {
    nextSlide();
};
previous.onclick = function () {
    previousSlide();
};
</script>
