---
import Layout from "../layouts/Layout.astro"
---
<Layout section='resources'>
    <banner id='resources-banner'>
        <h1>Resources</h1>
    </banner>
        <section class='resources-cont' id='resources-heading'>
        <p>Here are some additional resources that provide information that may prove to be quite benefical for you.</p>
    </section>
    <section class='resources-cont' id='resources'>
        <ul>
            <li><h2><a href='https://www.ncoa.org/article/coronavirus-tips-for-older-adults' target='blank'>Ways to prevent COVID-19</a></h2></li>
            <li><h2><a href='https://www.healthline.com/health/flu/boost-immune-system-over-65' target='blank'>Ways to boost immune system effeciency</a></h2></li>
            <li><h2><a href='https://www.healthline.com/health/food-nutrition/foods-that-boost-the-immune-system' target='blank'>Foods that boost immune system effeciency</a></h2></li>
            <li><h2><a href='https://medlineplus.gov/nutritionforolderadults.html' target='blank'>Learn about dieting and it's health benefits</a></h2></li>
            <li><h2><a href='https://morelifehealth.com/articles/regaining-flexibility-guide' target='blank'>Ways to increase your flexibility</a></h2></li>
            <li><h2><a href='https://www.healthline.com/health/everyday-fitness/senior-workouts' target='blank'>Exercises anybody can perform</a></h2></li>
            <li><h2><a href='https://www.greatseniorliving.com/articles/yoga-for-seniors' target='blank'>Learn about yoga and it's benefits (especially for those of older age)</a></h2></li>
        </ul>
    </section>
</Layout>